<div class="card">
    <div class="card-header">{{ book.title }}</div>
    <img src="{{ book.cover.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">생성된 날짜: {{ book.publication_date }}</p>
    </div>
    {% if book_status != 'owned' %}
        <div class="card-footer">
        {% if book_status == 'in_cart' %}
        <a href="{% url 'cart:remove-from-cart' book.slug %}" class="btn btn-default btn-block">
            장바구니에서 삭제
        </a>
        {% else %}
        <a href="{% url 'cart:add-to-cart' book.slug %}" class="btn btn-warning btn-block">
            장바구니에 담기
        </a>
        {% endif %}
        </div>
    {% endif %}
</div>